.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 90vh; */
    /* background: linear-gradient(135deg, #0a0f1f, #1c2236); */
    color: black;
}

.profile-card {
    /* background: rgba(20, 30, 50, 0.95); */
    /* border: 1px solid #1e90ff33; */
    /* border-radius: 16px; */
    /* padding: 40px 50px; */
    width: 420px;
    text-align: center;
    /* box-shadow: 0 0 15px rgba(0, 140, 255, 0.2); */
}

.profile-title {
    color: #1e90ff;
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: 600;
}

.profile-avatar img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    /* margin-bottom: 15px; */
}

.profile-name {
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
}

.profile-subject {
    font-size: 1rem;
    color: black;
    /* margin-bottom: 20px; */
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: left;
}

.info-item label {
    font-size: 1rem;
    color: #276eb6;
    font-weight: bold;
    display: block;
    margin-bottom: 4px;
}

.info-item input {
    width: 100%;
    background: transparent;
    border: 1px solid #ccc;
    color: black;
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 0.95rem;
}

.edit-btn ,.save-btn {
    margin-top: 25px;
    background: #1e90ff;
    border: none;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.save-btn {
   background-color: #28a745;
}


.save-btn:hover {
  background-color: #218838;
}
